body {
    background-image: url("../images/crystal-bckgrnd.jpeg");
    font-family: 'Henny Penny', cursive;
}

.jumbotron {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    color: rgb(235, 212, 83);
    font-size: 80px;
} 

p {
    color: rgb(78, 74, 74);
    background-color:rgb(235, 212, 83);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 325px;
    margin-right: 460px;
    margin-left: 25px;
    font-family: 'Henny Penny', cursive;
}

.crystalImages {
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.instructions {
    background-color: rgb(245, 93, 32);
    color: rgb(78, 74, 74);
    font-size: 21px;
    font-family: 'Henny Penny', cursive;
    position: absolute;
    margin-left: 925px;
    margin-right: 25px;
}